# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
!/[Pp]ackages/**/*.meta
!/[Pp]roject[Ss]ettings/**/*.meta

# JetBrains Rider / VS / etc
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store

# ===== Secrets =====
.env
Secrets.cs
.env/

# ===== Python caches =====
__pycache__/
.ruff_cache/
.pytest_cache/
.mypy_cache/
*.pyc
__pycache__

# ===== Python caches =====
.ruff_cache/
.pytest_cache/
.mypy_cache/
*.pyc

# Google Drive Temporary Files
.tmp.driveupload*